.TV{
    
    width: 50vw;
    height: 5vh;
    margin-left: 3%;
    margin-top: 1%;
    font-weight: bolder;
}

p{
    font-size: 17px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 1%; 
    margin-left: 3%;
}

.main-container{
    width: 95%;
}

.carousel .slide img {
    max-height: 200px;
    object-fit: contain;
}
  
.carousel {
    margin-bottom: 20px;
}

.logo{
    margin-top: 5%;
}

.title{
    font-size: 20px;
    margin-left: 3%;
    margin-top: 50px;
}

button{
    padding: 6px;
    margin: 15px 20px;
    border-radius: 5px;
    font-weight: bolder;
    border: none;
    background-color: rgb(244, 180, 59);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    
}

button:hover {
    /* background-color: #ffcc00;  */
    transform: scale(0.9);
}

.fav{
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.card-body {
    margin-top: 5%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 images per row */
    grid-gap: 10px;
    width: 80%;
}

.card-body img {
    height: 300px;
    width: 250px; /* Ensures images fit within the grid cells */
}

.card-body img:hover{
    transform: scale(1.05);
    transition: 0.9 ease;
    
}

.button-container {
    margin-top: 5%;
}

.custom-btn {
    width: 150px; /* Set desired width */
    height: 50px; /* Set desired height */
    font-size: 18px; /* Adjust font size */
    margin: 0 10px; /* Adjust space between buttons */
}

.btn-primary {
    background-color: rgb(244, 180, 59);
    color: black;
}

.btn-secondary {
    background-color:  rgb(244, 180, 59) ;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.offcanvas-header {
    background-color: rgb(244, 180, 59);
}

.login{
    height: 50px;
    padding: 10px 30px; /* Adjust the padding as needed */
    font-size: 16px; 
    /* color: black; */
    background-color:  rgb(244, 180, 59);;
    text-decoration: none;
}

.custom-btn{
    text-decoration: none;
}


  
